<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ulyne.com.reservedforfanwei">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".Logger.LoggerApplication"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--android:name=".Logger.LoggerApplication"//使用SugarApp的Application-->
        <!--//数据库名称-->
        <meta-data android:name="DATABASE" android:value="sugar_example.db" />
        <!--//数据库版本号-->
        <meta-data android:name="VERSION" android:value="2" />
        <!--//log-->
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <!--//实体类包名-->
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.example" />

        <activity android:name=".RecyclerView.RecyclerViewAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>